.container {
    width: 1510px;
    height: 710px;
    border: 2px solid #000000;
    background: #0f4c75;
    display: flex;                  /*横並びにする*/
    justify-content: space-around;  /*均等に配置する*/
}

.result {
    width: 780px;
    height: 580px;
    border: 10px solid #0f4c75;
    background: #bbe1fa;
    position: relative;             /*基本座標の相対位置を指定*/
    top: 110px;
}

.right {
    width: 710px;
    height: 710px;
}

.process {
    width: 690px;
    height: 160px;
    border: 10px solid #bbe1fa;
    background: #3282b8;
}

.button {
    width: 710px;
    height: 530px;
    background: #f5f5f5;
}

.row {
    
}